.modalContainer {
  /* Must be fixed. If we would take absolute, 
  the modalContainer won't cover invisible parts which can only be accessed via scrolling.  
  Fixed means the div is fix. Even scrolling would change the position of this container.
  As we set width and height to 100%, the fixed container is stretched over the whole view port.
  */
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

.modalBackdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.37);
}

.modalDialog {
  position: absolute;
  display: inline-block;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}
